<table border="1">
<thead>
<tr>
<td>_id</td>
<td>someKey</td>
<td>meta_subKey1</td>
<td>meta_subKey2</td>
<td>meta_subKey3</td>
</tr>
</thead>
<tbody>
<tr>
<td bgcolor="white">1</td>
<td bgcolor="blue">HANGUP</td>
<td bgcolor="white">1234</td>
<td bgcolor="red"></td>
<td bgcolor="white"></td>
</tr>
<tr>
<td bgcolor="green">2</td>
<td bgcolor="green">RINGING</td>
<td bgcolor="green">5678</td>
<td bgcolor="green">207</td>
<td bgcolor="green">52</td>
</tr>
</tbody>
</table>